In [1]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('seaborn')
sns.set(font_scale=1)

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
#Read data from excel
sp = pd.read_excel('Superstore Data.csv')

In [3]:
sp.head(5)

,Row ID,Order ID,연,월,일,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016년,11월,8일,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016년,11월,8일,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016년,6월,12일,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015년,10월,11일,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015년,10월,11일,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         32 non-null     int64
 1   Order ID       32 non-null     object
 2   연              32 non-null     object
 3   월              32 non-null     object
 4   일              32 non-null     object
 5   Ship Mode      32 non-null     object
 6   Customer ID    32 non-null     object
 7   Customer Name  32 non-null     object
 8   Segment        32 non-null     object
 9   Country        32 non-null     object
 10  City           32 non-null     object
 11  State          32 non-null     object
 12  Postal Code    32 non-null     int64
 13  Region         32 non-null     object
 14  Product ID     32 non-null     object
 15  Category       32 non-null     object
 16  Sub-Category   32 non-null     object
 17  Product Name   32 non-null     object
 18  Sales          32 non-null     float64
 19  Quantity       32 non-null     int64
 20  Discount       32 non-null     float64
 21  Profit         32 non-null     float64
dtypes: float64(3), int64(3), object(16)
memory usage: 5.6+ KB

In [5]:
sp.describe()

          Row ID   Postal Code        Sales   Quantity   Discount       Profit
count  32.000000     32.000000    32.000000  32.000000  32.000000    32.000000
mean   16.500000  65163.468750   367.769609   3.968750   0.192188   -35.050384
std     9.380832  30074.426244   649.511984   1.975403   0.230745   313.334490
min     1.000000  19140.000000     2.544000   2.000000   0.000000 -1665.052200
25%     8.750000  33311.000000    17.766000   2.000000   0.000000     2.353200
50%    16.500000  80081.500000    70.091000   3.000000   0.200000     8.546600
75%    24.250000  90032.000000   472.452000   5.250000   0.200000    20.625750
max    32.000000  98103.000000  3083.430000   9.000000   0.800000   240.264900

In [6]:
sp.describe(include=np.object)

/var/folders/mw/bfxttz050877klzz0426gdf80000gn/T/ipykernel_20437/395656122.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  sp.describe(include=np.object)

,Order ID,연,월,일,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
unique,15,4,10,12,2,15,15,3,1,12,10,4,31,3,13,31
top,CA-2014-115812,2014년,6월,9일,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,West,FUR-TA-10000577,Office Supplies,Binders,Bretford CR4500 Series Slim Rectangular Table
freq,7,12,8,9,22,7,7,27,32,10,13,16,2,19,6,2

In [7]:
print("Total number of data points: ", sp.shape[0]*sp.shape[1])
print("Total number of missing values: {} = {:.2f}% of total data".format(sp.isnull().sum().sum(), (sp.isnull().sum().sum()*100)/(sp.shape[0]*sp.shape[1])))
print("Total number of unique products: ", sp['Product ID'].nunique())

Total number of data points:  704
Total number of missing values: 0 = 0.00% of total data
Total number of unique products:  31

## Questions

* Which sub-category of items sold the most?
* Which city had the highest order volume?
* What is the order volume and sales amount by segment and region
* Does a higher discount rate result in lower margin?
* Which type of product has the highest revenue?
* Can the sales volume be represented on a map?

In [8]:
sp.duplicated().sum()

0

In [9]:
sp.columns

Index(['Row ID', 'Order ID', '연', '월', '일', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [11]:
#simplify complex column names.
sp.columns = ['row_id','order_id','order_date','ship_date','ship_mode','cust_id','cust_name','seg'
,'country','city','state','post_code','region','product_id','category','subcategory','product_name'
,'sales','quantity','discount','profit']

ValueError: Length mismatch: Expected axis has 22 elements, new values have 20 elements

In [ ]:
sp.columns

In [ ]:
#no use for postal code 
sp1 = sp.drop(['post_code'],axis=1)
sp1.info()

##4.EDA & Visualization

In [ ]:
#Top 10 Products by Order Ranking
sp1['product_name'].value_counts().head(10)

In [ ]:
#Check the distribution of sales amount and discount rate by category using a violin plot.
f, ax = plt.subplots(1, 2, figsize=(13, 7))

#violin plot
sns.violinplot(x=sp['category'], y=sp1['sales'], ax=ax[0])
sns.violinplot(x=sp['category'], y=sp1['discount']*100, ax=ax[1])

In [ ]:
#What sub-category has the highest order volume?

plt.figure(figsize=(12,10))

sp['subcategory'].value_counts().plot.pie(autopct="%1.1f%%")

plt.show()

In [ ]:
#Top 10 Cities with the highest order volume
top_cities= sp['city'].value_counts().nlargest(20)
top_cities

In [ ]:
f, ax = plt.subplots(1, 1, figsize=(18, 8))

g = sns.countplot(sp1['state'].sort_values(), ax=ax)
g.set_xticklabels(g.get_xticklabels(),rotation=90)
g.set_title('State', size=15)
g.set_ylabel('')


plt.show()

In [ ]:
#Order Volume by Segment and Region
#Consumer segment has the highest order volume and the Western region has the highest order volume.
f, ax = plt.subplots(1, 2, figsize=(14, 6))

sns.countplot(x=sp1['seg'], palette ='magma', ax=ax[0])
ax[0].set_title('Segment')

sns.countplot(x=sp1['region'], palette ='magma', ax=ax[1])
ax[1].set_title('Region')
ax[1].set_ylabel('')

plt.show()

In [ ]:
f, ax = plt.subplots(1, 1, figsize=(10, 6))

sns.lineplot('discount', 'profit', data = sp1, color = 'r', ax=ax)

ax.set_xlabel('Discount (%)')
ax.set_ylabel('profit ($)')

plt.show()

In [ ]:
#Calculate Correlations
sp_corr = sp1[['sales','quantity','discount','profit']].corr()
sp_corr

In [ ]:

f, ax = plt.subplots(1, 1, figsize=(9, 8))
sns.heatmap(sp_corr, annot=True, cmap='YlGnBu', ax=ax)
plt.title('sales, quantity, discount, profit of corr', size=15)

In [ ]:
top_prd1 = sp1.groupby(['product_name']).sum().sort_values('sales',ascending=False).head(10)

In [ ]:
top_prd1.reset_index(inplace=True)
top_prd1

In [ ]:

f, ax = plt.subplots(1, 1, figsize=(9, 8))

ax.pie(top_prd1['sales'], labels=top_prd1['product_name'], autopct="%1.1f%%", startangle=0)
ax.set_ylabel('')

center_circle = plt.Circle((0,0), 0.5, fc='white')
fig = plt.gcf()
fig.gca().add_artist(center_circle)

ax.axis('equal') 
label = ax.annotate('top 10 products by sales', color='black', xy=(0, -0.07), fontsize=15, ha="center")

plt.show()

In [ ]:
sales = sp1.groupby(['state']).sum().sort_values('sales', ascending=False)
sales.reset_index(level=0, inplace=True)
sales

In [ ]:
dc = sales[sales['state'] == 'District of Columbia'].index
sales = sales.drop(dc)
sales

In [ ]:
state = ['Alabama', 'Arizona' ,'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 
         'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
         'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana','Nebraska', 'Nevada', 'New Hampshire',
         'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
         'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
         'West Virginia', 'Wisconsin','Wyoming']
state_code = ['AL','AZ','AR','CA','CO','CT','DE','FL','GA','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA',
              'MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN',
              'TX','UT','VT','VA','WA','WV','WI','WY']


state_cd = pd.DataFrame(state, state_code)
state_cd
state_cd.reset_index(inplace=True)
state_cd.columns = ['state_cd','state']
state_cd

In [ ]:
sales= sales.sort_values('state', ascending=True)
sales.reset_index(inplace = True)
sales.insert(1, 'state_cd', state_cd['state_cd'])
sales

In [ ]:
sales.drop('index',1,inplace = True)
sales

In [ ]:
import plotly.express as px
  
fig = px.choropleth(locations=sales['state_cd'], locationmode="USA-states", color=sales['sales'], scope="usa"
, color_continuous_scale='peach', title='주 별 총 판매금액')

fig.show()

### Review

* What type of item (sub-category) sold the most?
  Binder sold the most at 15.2%
* Which city had the highest order volume?
  California, New York, Texas had the highest order volume in that order
* What is the order volume by segment and region?
  Consumer segment had the highest order volume and the Western region had the highest order volume.
* Does the margin decrease as the discount rate increases?
  When the discount rate is 50%, the margin is the lowest!
* Which product has the highest sales?
  canon imageCLASS 2200 Advanced Copier had the highest sales!
* Can we show sales volume on a map?
  Yes